@media(min-width: 320px){
  .header__item_screen_768{
    display: none;
  }
}
@media(min-width: 768px){
    .header__item_screen_768{
        display: inline;
      }
}

@media(min-width: 1120px){
  .header__item{
    display: none;
  }
  .header__item_screen_1120{
    display: inline;
  }
}