@media (min-width: 320px){
    .container{
        max-width: 288px;
        margin: 0 auto;
    }
}
@media(min-width: 768px){
    .container{
        max-width: 736px;
        margin: 0 auto;
    }
}
@media(min-width: 1120px){
    .container{
        max-width: 1088px;
        margin: 0 auto;
    }
}
