@media(min-width: 320px){

}
@media(min-width: 768px){

}
@media(min-width: 1120px){
    .header__wrapper1120{
        display: flex;
        align-items: center;
        padding-left: 34px;
    }
    .header__wrapper1120:hover{
        border: 2px solid #80949F;
        transition: border 0.1s;
        border-radius: 6px;
    }
}