@media(min-width: 320px){
    .main__text{
    font-size: 15px;
    line-height: 20px;
}

}
@media(min-width: 768px){
    .main__text_screen_768{
    padding: 0;
    width: 50%;
}

}
@media(min-width: 1120px){

}




@media(min-width: 320px){
    .main__img{
        width: 100%;
    }
}
    
@media(min-width: 768px){
    .main__img_screen_768{
        box-sizing: border-box;
        width: 50%;
        border-radius: 6px;
        object-fit: cover;
    }
}

@media(min-width: 1120px){
}


@media(min-width: 320px){
  
}
@media(min-width: 768px){
    .main__content_screen_768{
        display: flex;
        justify-content: space-around;
        height: 208px;
        padding:32px 25px 0 25px;
        overflow: hidden;
        
    }
}

@media(min-width: 1120px){
}